<!doctype html>
<html lang="en">
  <body>
    <h1>{{ deck.name }}</h1>

    {% if deck.description %}
      <p>{{ deck.description }}</p>
    {% endif %}

    <h2>Cards</h2>

    {% if cards %}
      <ul>
        {% for card in cards %}
          <li>
            <strong>{{ card.question }}</strong>
            - {{ card.answer }}
            <a href="/cards/{{ card.id }}">View card</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No cards yet.</p>
    {% endif %}
    <h2>Add card</h2>
    <form action="/decks/{{ deck.id }}/cards" method="post">
        <label for="question">Question</label>
        <textarea id="question" name="question" type="text"></textarea>

        <label for="answer">Answer</label>
        <textarea id="answer" name="answer"></textarea>

        <button type="submit">Add card</button>
    </form>
    <a href="/decks">Back to Decks</a>
  </body>
</html>