{% extends "base.html" %}

{% block content %}
  <h2>Tags</h2>
  <ul>
    {% for tag in tags %}
      <li>
        <strong>{{ tag.name }}</strong>
        <a href="/tags/{{ tag.id }}/edit">Edit</a>
        <form method="post" action="/tags/{{ tag.id }}/delete">
          <button type="submit">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>

  <h2>Create a Tag</h2>
  <form method="post" action="/tags">
    <label for="name">Tag Name</label>
    <input id="name" name="name" type="text" />

    <button type="submit">Create</button>
  </form>
{% endblock %}